canvas {
	position: absolute;
	top: 0;
	left: 0;
}
@font-face {
	font-family: 'RobotoSlabM';
	src: url(font/RobotoSlabM.ttf);
}

@font-face {
	font-family: 'RobotoSlabR';
	src: url(font/RobotoSlabR.ttf);
}
p a {
	text-decoration: none;
	color: #e46e6e;
}
span {
	font-size: 20px;
}
p > a:first-of-type {
	font-size: 300px;
}
.fade-in {
opacity: 0;
/* Comienza con opacidad 0 */
transition: opacity 1s;
/* Transición de opacidad durante 1 segundo */
}
body {
	overflow: hidden;
}